In [1]:
from io import BytesIO
import zipfile

import ipywidgets
import pandas as pd
import requests

import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

In [21]:
jobs = pd.read_csv('../TechandGrayAreaJobTitles_relatedSkills.csv')
# jobs = jobs.rename(columns={"Job_Title": "JOB TITLE"})
jobs

,Job_Title,relatedSkills
0,.Net Application Developer,Microsoft technologies;Software development;C#...
1,.Net Architect,Software development;C#;Microsoft Windows Azur...
2,.Net Developer,Software development;C#;ASP.NET;.NET;Microsoft...
3,.Net Lead,SQL;IBM WebSphere;Java;C#;API;Microsoft SSIS;A...
4,.Net SDET,NaN
...,...,...
1462,Workstation PC Technician,Computer networking;Microsoft Windows 7;Softwa...
1463,Writer Editor,Analytics;IT consulting;Strategy;Security clea...
1464,iOS Architect,Software development;Interfaces;Computer scien...
1465,iOS Developer,Software development;RESTful;Quality assurance...
1466,webMethods Developer,Web services;JDBC;Java;Quality assurance;webMe...

In [2]:
def load_data(year):
    url = 'https://www.bls.gov/oes/special.requests/oesm{}nat.zip'.format(year % 100)
    resp = requests.get(url)
    zf = zipfile.ZipFile(BytesIO(resp.content))
    for fi in zf.filelist:
        if fi.filename.rstrip('x').endswith('_dl.xls'):
            f = zf.read(fi)
            df = pd.read_excel(f)
            df.columns = df.columns.str.lower()
            df['year'] = year
            return df
    raise RuntimeError('Could not find correct Excel file within Zip archive.')

In [3]:
def load_years(years):
    frames = []
    for year in years:
        df = load_data(year)
        frames.append(df)
    return frames

In [4]:
# df_all.area_type.nunique()

In [8]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13208 entries, 0 to 1328
Data columns (total 34 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   occ_code      13208 non-null  object
 1   occ_title     13208 non-null  object
 2   group         23 non-null     object
 3   tot_emp       13208 non-null  object
 4   emp_prse      13208 non-null  object
 5   h_mean        13208 non-null  object
 6   a_mean        13208 non-null  object
 7   mean_prse     13208 non-null  float64
 8   h_pct10       13208 non-null  object
 9   h_pct25       13208 non-null  object
 10  h_median      13208 non-null  object
 11  h_pct75       13208 non-null  object
 12  h_pct90       13208 non-null  object
 13  a_pct10       13208 non-null  object
 14  a_pct25       13208 non-null  object
 15  a_median      13208 non-null  object
 16  a_pct75       13208 non-null  object
 17  a_pct90       13208 non-null  object
 18  annual        795 non-null    object
 19  hourly        58 non-null     object
 20  year          13208 non-null  int64
 21  occ_group     9731 non-null   object
 22  area          2658 non-null   float64
 23  area_title    2658 non-null   object
 24  area_type     2658 non-null   float64
 25  naics         2658 non-null   float64
 26  naics_title   2658 non-null   object
 27  i_group       2658 non-null   object
 28  own_code      2658 non-null   float64
 29  o_group       2658 non-null   object
 30  jobs_1000     0 non-null      float64
 31  loc_quotient  0 non-null      float64
 32  pct_total     0 non-null      float64
 33  prim_state    1329 non-null   object
dtypes: float64(8), int64(1), object(25)
memory usage: 3.5+ MB

In [5]:
# new = pd.merge(df_project, jobs, left_on=  ['occ_title'],
#                    right_on= ['Job_Title'], 
#                    how = 'inner')
# new
# df_project[df_project['occ_title'] == 'Developer']

In [7]:
# df_project  = df_all[['tot_emp','occ_title',
#                       'a_mean','annual','year',
                      
#                      ]]
# df_project

In [8]:
df_all = pd.concat(load_years(range(2011, 2021)))
df_all
# print(df_all.describe(include='all').to_latex())

,occ_code,occ_title,group,tot_emp,emp_prse,h_mean,a_mean,mean_prse,h_pct10,h_pct25,...,area_type,naics,naics_title,i_group,own_code,o_group,jobs_1000,loc_quotient,pct_total,prim_state
0,00-0000,All Occupations,total,128278550,0.1,21.74,45230,0.1,8.65,10.76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11-0000,Management Occupations,major,6183820,0.2,51.64,107410,0.1,21.98,31.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11-1011,Chief Executives,NaN,267370,0.5,84.88,176550,0.4,36.47,52.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11-1021,General and Operations Managers,NaN,1805030,0.3,55.04,114490,0.2,22.87,31.72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11-1031,Legislators,NaN,62180,1.3,*,38860,0.8,*,*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1324,53-7081,Refuse and Recyclable Material Collectors,NaN,120850,1.8,20.49,42620,1.2,11.48,14.51,...,1.0,0.0,Cross-industry,cross-industry,1235.0,detailed,NaN,NaN,NaN,US
1325,53-7120,"Tank Car, Truck, and Ship Loaders",NaN,12610,9,24.36,50670,2.2,14.96,17.44,...,1.0,0.0,Cross-industry,cross-industry,1235.0,broad,NaN,NaN,NaN,US
1326,53-7121,"Tank Car, Truck, and Ship Loaders",NaN,12610,9,24.36,50670,2.2,14.96,17.44,...,1.0,0.0,Cross-industry,cross-industry,1235.0,detailed,NaN,NaN,NaN,US
1327,53-7190,Miscellaneous Material Moving Workers,NaN,26300,4.6,18.16,37770,1.5,12.05,13.35,...,1.0,0.0,Cross-industry,cross-industry,1235.0,broad,NaN,NaN,NaN,US
1328,53-7199,"Material Moving Workers, All Other",NaN,26300,4.6,18.16,37770,1.5,12.05,13.35,...,1.0,0.0,Cross-industry,cross-industry,1235.0,detailed,NaN,NaN,NaN,US

In [9]:
# for i in df_all.group:
#     print(i)
# major_groups = df_all[df_all['occ_code'].str.endswith('0000')]
# major_groups

## Management Occupations 11-0000
## Business and Financial Operations Occupations 13-0000
## Computer and Mathematical Occupations 15-0000

In [43]:
df_tech = df_all[df_all.occ_code.str.startswith(('11', '13', '15'))]

In [10]:
df_computer = df_all[df_all.occ_code.str.startswith('15')]

In [17]:
computer_titles = ['Computer and Mathematical Occupations',
       'Computer and Information Research Scientists',
       'Computer Systems Analysts', 'Computer Programmers',
       'Software Developers, Applications',
       'Software Developers, Systems Software', 'Database Administrators',
       'Network and Computer Systems Administrators*',
       'Computer Support Specialists',
       'Information Security Analysts, Web Developers, and Computer Network Architects',
       'Computer Occupations, All Other*', 'Actuaries', 'Mathematicians',
       'Operations Research Analysts', 'Statisticians',
       'Mathematical Technicians',
       'Mathematical Science Occupations, All Other',
       'Computer Occupations', 'Computer and Information Analysts',
       'Information Security Analysts',
       'Software Developers and Programmers', 'Web Developers',
       'Database and Systems Administrators and Network Architects',
       'Network and Computer Systems Administrators',
       'Computer Network Architects', 'Computer User Support Specialists',
       'Computer Network Support Specialists',
       'Miscellaneous Computer Occupations',
       'Computer Occupations, All Other',
       'Mathematical Science Occupations',
       'Miscellaneous Mathematical Science Occupations',
       'Database and Network Administrators and Architects',
       'Database Administrators and Architects',
       'Software and Web Developers, Programmers, and Testers',
       'Software Developers and Software Quality Assurance Analysts and Testers',
       'Web Developers and Digital Interface Designers',
       'Data Scientists and Mathematical Science Occupations, All Other']

In [18]:
computer_titles

['Computer and Mathematical Occupations',
 'Computer and Information Research Scientists',
 'Computer Systems Analysts',
 'Computer Programmers',
 'Software Developers, Applications',
 'Software Developers, Systems Software',
 'Database Administrators',
 'Network and Computer Systems Administrators*',
 'Computer Support Specialists',
 'Information Security Analysts, Web Developers, and Computer Network Architects',
 'Computer Occupations, All Other*',
 'Actuaries',
 'Mathematicians',
 'Operations Research Analysts',
 'Statisticians',
 'Mathematical Technicians',
 'Mathematical Science Occupations, All Other',
 'Computer Occupations',
 'Computer and Information Analysts',
 'Information Security Analysts',
 'Software Developers and Programmers',
 'Web Developers',
 'Database and Systems Administrators and Network Architects',
 'Network and Computer Systems Administrators',
 'Computer Network Architects',
 'Computer User Support Specialists',
 'Computer Network Support Specialists',
 'Miscellaneous Computer Occupations',
 'Computer Occupations, All Other',
 'Mathematical Science Occupations',
 'Miscellaneous Mathematical Science Occupations',
 'Database and Network Administrators and Architects',
 'Database Administrators and Architects',
 'Software and Web Developers, Programmers, and Testers',
 'Software Developers and Software Quality Assurance Analysts and Testers',
 'Web Developers and Digital Interface Designers',
 'Data Scientists and Mathematical Science Occupations, All Other']

In [16]:
(df_computer.occ_title.unique())

array(['Computer and Mathematical Occupations',
       'Computer and Information Research Scientists',
       'Computer Systems Analysts', 'Computer Programmers',
       'Software Developers, Applications',
       'Software Developers, Systems Software', 'Database Administrators',
       'Network and Computer Systems Administrators*',
       'Computer Support Specialists',
       'Information Security Analysts, Web Developers, and Computer Network Architects',
       'Computer Occupations, All Other*', 'Actuaries', 'Mathematicians',
       'Operations Research Analysts', 'Statisticians',
       'Mathematical Technicians',
       'Mathematical Science Occupations, All Other',
       'Computer Occupations', 'Computer and Information Analysts',
       'Information Security Analysts',
       'Software Developers and Programmers', 'Web Developers',
       'Database and Systems Administrators and Network Architects',
       'Network and Computer Systems Administrators',
       'Computer Network Architects', 'Computer User Support Specialists',
       'Computer Network Support Specialists',
       'Miscellaneous Computer Occupations',
       'Computer Occupations, All Other',
       'Mathematical Science Occupations',
       'Miscellaneous Mathematical Science Occupations',
       'Database and Network Administrators and Architects',
       'Database Administrators and Architects',
       'Software and Web Developers, Programmers, and Testers',
       'Software Developers and Software Quality Assurance Analysts and Testers',
       'Web Developers and Digital Interface Designers',
       'Data Scientists and Mathematical Science Occupations, All Other'],
      dtype=object)

In [7]:
df_all['mean salary'] = pd.to_numeric(df_all['a_mean'], errors='coerce')

In [35]:
# major_groups = df_all['occ_code'].str.endswith('0000') # endswith 0000 is the mother node? 
major_groups = df_all['occ_code']
df_all['occ_code'].unique()

array(['00-0000', '11-0000', '11-1011', ..., '53-4022', '53-6098',
       '53-7065'], dtype=object)

In [34]:
df_all['occ_code'].unique()

array(['00-0000', '11-0000', '11-1011', ..., '53-4022', '53-6098',
       '53-7065'], dtype=object)

In [9]:
# sns.lineplot(data=df_all[major_groups], x='year', y='mean salary', hue='occ_title')
# plt.legend(bbox_to_anchor=(1.05, 1), loc=2)

In [21]:
# titles = sorted(list(df_all[major_groups]['occ_title'].unique()))
titles = sorted(list(df_all['occ_title'].unique()))

In [22]:
@ipywidgets.interact(title=titles)
def plot_group(title=titles[0]):
    ind = titles.index(title)
    for t in titles[:ind] + titles[ind+1:] + [title]:
        color = ('r' if t == title else '0.7')
        df = df_all[df_all['occ_title'] == t]
        plt.plot(df['year'], df['mean salary'], c=color)
    plt.xlabel('year')
    plt.ylabel('mean salary')

interactive(children=(Dropdown(description='title', options=('Accountants and Auditors', 'Actors', 'Actors, Pr…

# TBD

In [15]:
# import requests
# import json
# import prettytable
# headers = {'Content-type': 'application/json'}
# data = json.dumps({"seriesid": ['WMU00000001020000001730272400'],"startyear":"2020", "endyear":"2020"})
# p = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
# json_data = json.loads(p.text)
# for series in json_data['Results']['series']:
#     x=prettytable.PrettyTable(["series id","year","period","value","footnotes"])
#     seriesId = series['seriesID']
#     for item in series['data']:
#         year = item['year']
#         period = item['period']
#         value = item['value']
#         footnotes=""
#         for footnote in item['footnotes']:
#             if footnote:
#                 footnotes = footnotes + footnote['text'] + ','
#         if 'M01' <= period <= 'M12':
#             x.add_row([seriesId,year,period,value,footnotes[0:-1]])
#     output = open(seriesId + '.txt','w')
#     output.write (x.get_string())
#     output.close()