In [3]:
import pandas as pd
from sklearn.feature_extraction import text

from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.cluster import KMeans

In [12]:
# data = [{'User': 'Johnny', 'KeyWords': 'Dog Cat Bear'},
#     {'User': 'Mark', 'KeyWords': 'Cat Apple Peach'},
#     {'User': 'Lisa', 'KeyWords': 'Apple Peach Orange'}]

# df = pd.DataFrame(data)

# Optimal_k = 2

# WordVectorizer = TfidfVectorizer(stop_words='english')

# X = WordVectorizer.fit_transform(df['KeyWords'])

# model = KMeans(n_clusters=Optimal_k, init='k-means++', max_iter=200, n_init=10)

# model.fit(X)

# df['Cluster'] = pd.DataFrame(model.labels_)

# df

In [7]:
h1b = pd.read_pickle("../data/h1b_clean.pkl")
h1b_co = h1b[h1b['state'] == 'CO']

In [13]:
data = h1b_co[['relatedSkills','Dice_job_title']]

In [24]:
df = data

Optimal_k = 2

WordVectorizer = TfidfVectorizer(stop_words='english')

X = WordVectorizer.fit_transform(df['Dice_job_title'])

model = KMeans(n_clusters=Optimal_k, init='k-means++', max_iter=200, n_init=10)

model.fit(X)

df['Cluster'] = pd.DataFrame(model.labels_)

df

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/frame.py:3599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item_frame_value(key, value)

,relatedSkills,Dice_job_title,Cluster
220,Microsoft technologies;Software development;C#...,.Net Application Developer,0.0
962,Software development;C#;ASP.NET;.NET;Microsoft...,.Net Developer,0.0
998,Software development;C#;ASP.NET;.NET;Microsoft...,.Net Developer,0.0
1121,Software development;C#;ASP.NET;.NET;Microsoft...,.Net Developer,0.0
1378,Software development;C#;ASP.NET;.NET;Microsoft...,.Net Developer,0.0
...,...,...,...
2494446,Web services;JDBC;Java;Quality assurance;webMe...,webMethods Developer,NaN
2494448,Web services;JDBC;Java;Quality assurance;webMe...,webMethods Developer,NaN
2494449,Web services;JDBC;Java;Quality assurance;webMe...,webMethods Developer,NaN
2494680,Web services;JDBC;Java;Quality assurance;webMe...,webMethods Developer,NaN
2494880,Web services;JDBC;Java;Quality assurance;webMe...,webMethods Developer,NaN

In [25]:
df.Cluster.value_counts()

0.0    14
1.0     3
Name: Cluster, dtype: int64

https://stackoverflow.com/questions/62019629/find-most-important-words-for-k-means-clustering-using-sklearn-pandas