In [1]:
import pandas as pd
from sklearn.feature_extraction import text

from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.cluster import KMeans

In [12]:
# data = [{'User': 'Johnny', 'KeyWords': 'Dog Cat Bear'},
#     {'User': 'Mark', 'KeyWords': 'Cat Apple Peach'},
#     {'User': 'Lisa', 'KeyWords': 'Apple Peach Orange'}]

# df = pd.DataFrame(data)

# Optimal_k = 2

# WordVectorizer = TfidfVectorizer(stop_words='english')

# X = WordVectorizer.fit_transform(df['KeyWords'])

# model = KMeans(n_clusters=Optimal_k, init='k-means++', max_iter=200, n_init=10)

# model.fit(X)

# df['Cluster'] = pd.DataFrame(model.labels_)

# df

In [2]:
# h1b.to_csv('h1b.csv')

In [3]:
h1b = pd.read_pickle("../data/h1b_clean.pkl")
# h1b_co = h1b[h1b['state'] == 'CO']

In [4]:
data = h1b[['relatedSkills','Dice_job_title']]

In [6]:
df = data

Optimal_k = 33

WordVectorizer = TfidfVectorizer(stop_words='english')

X = WordVectorizer.fit_transform(df['relatedSkills'])

model = KMeans(n_clusters=Optimal_k, init='k-means++', max_iter=200, n_init=10)

model.fit(X)

df['Cluster'] = pd.DataFrame(model.labels_)

df

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/frame.py:3599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item_frame_value(key, value)

,relatedSkills,Dice_job_title,Cluster
0,Microsoft technologies;Software development;C#...,.Net Application Developer,18.0
1,Microsoft technologies;Software development;C#...,.Net Application Developer,18.0
2,Microsoft technologies;Software development;C#...,.Net Application Developer,18.0
6,Microsoft technologies;Software development;C#...,.Net Application Developer,18.0
7,Microsoft technologies;Software development;C#...,.Net Application Developer,18.0
...,...,...,...
2495074,Web services;JDBC;Java;Quality assurance;webMe...,webMethods Developer,NaN
2495075,Web services;JDBC;Java;Quality assurance;webMe...,webMethods Developer,NaN
2495076,Web services;JDBC;Java;Quality assurance;webMe...,webMethods Developer,NaN
2495077,Web services;JDBC;Java;Quality assurance;webMe...,webMethods Developer,NaN
2495078,Web services;JDBC;Java;Quality assurance;webMe...,webMethods Developer,NaN

In [7]:
df.Cluster.value_counts()

12.0    20327
6.0     11662
7.0     10064
22.0     7877
8.0      7823
9.0      7791
3.0      7555
11.0     5974
26.0     5542
27.0     5248
23.0     4266
4.0      4104
10.0     3863
30.0     3495
14.0     3482
25.0     3467
29.0     3333
1.0      3193
21.0     2956
2.0      2691
16.0     2600
18.0     2390
5.0      2328
19.0     1651
15.0     1541
28.0     1059
24.0      972
17.0      380
13.0      335
32.0      237
0.0        14
Name: Cluster, dtype: int64

https://stackoverflow.com/questions/62019629/find-most-important-words-for-k-means-clustering-using-sklearn-pandas

https://python.plainenglish.io/clustering-textual-data-with-word2vec-866dafbd213f

# how about just jobs file clustering

In [8]:
jobs = pd.read_csv('../TechandGrayAreaJobTitles_relatedSkills.csv')
# jobs = jobs.rename(columns={"Job_Title": "JOB TITLE"})
jobs

,Job_Title,relatedSkills
0,.Net Application Developer,Microsoft technologies;Software development;C#...
1,.Net Architect,Software development;C#;Microsoft Windows Azur...
2,.Net Developer,Software development;C#;ASP.NET;.NET;Microsoft...
3,.Net Lead,SQL;IBM WebSphere;Java;C#;API;Microsoft SSIS;A...
4,.Net SDET,NaN
...,...,...
1462,Workstation PC Technician,Computer networking;Microsoft Windows 7;Softwa...
1463,Writer Editor,Analytics;IT consulting;Strategy;Security clea...
1464,iOS Architect,Software development;Interfaces;Computer scien...
1465,iOS Developer,Software development;RESTful;Quality assurance...
1466,webMethods Developer,Web services;JDBC;Java;Quality assurance;webMe...

In [11]:
df = jobs.dropna()

Optimal_k = 33

WordVectorizer = TfidfVectorizer(stop_words='english')

X = WordVectorizer.fit_transform(df['relatedSkills'])

model = KMeans(n_clusters=Optimal_k, init='k-means++', max_iter=200, n_init=10)

model.fit(X)

df['Cluster'] = pd.DataFrame(model.labels_)

df

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/frame.py:3599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item_frame_value(key, value)

,Job_Title,relatedSkills,Cluster
0,.Net Application Developer,Microsoft technologies;Software development;C#...,21.0
1,.Net Architect,Software development;C#;Microsoft Windows Azur...,21.0
2,.Net Developer,Software development;C#;ASP.NET;.NET;Microsoft...,21.0
3,.Net Lead,SQL;IBM WebSphere;Java;C#;API;Microsoft SSIS;A...,21.0
5,.Net Technical Lead,IT management;Software development;C#;Quality ...,21.0
...,...,...,...
1462,Workstation PC Technician,Computer networking;Microsoft Windows 7;Softwa...,NaN
1463,Writer Editor,Analytics;IT consulting;Strategy;Security clea...,NaN
1464,iOS Architect,Software development;Interfaces;Computer scien...,NaN
1465,iOS Developer,Software development;RESTful;Quality assurance...,NaN
1466,webMethods Developer,Web services;JDBC;Java;Quality assurance;webMe...,NaN

In [12]:
df.Cluster.value_counts()

26.0    137
5.0      54
8.0      46
23.0     45
6.0      40
24.0     35
31.0     35
4.0      35
3.0      34
17.0     32
29.0     32
30.0     32
22.0     31
19.0     30
2.0      30
28.0     30
7.0      29
13.0     28
18.0     26
15.0     25
0.0      25
27.0     24
25.0     23
9.0      22
12.0     21
21.0     19
32.0     19
11.0     19
10.0     16
20.0     16
14.0     15
1.0      14
16.0     10
Name: Cluster, dtype: int64

In [13]:
df.to_csv('job_clsuter.csv')